
:root {
    --navColor: #1f2124;
    --backgroundColor: #292b30;
    --planColor: #37393f;
    --lessonColor: #434549 !important;
    --hourOverlay: #67696d;
    --hourCanceled: #FF4041;
    --hourChanged: #fab433;
    --weekdayToday: #4281ff;
    --white: rgb(221, 221, 221);
}


body {
    background-color: var(--backgroundColor) !important;
    padding-top: 0px !important;
}

.center-block span {
    background-color: var(--planColor) !important;
}

table tbody tr td span {
    color: var(--white) !important;
    margin-left: 10px;
}

.navbar-inverse {
    background-image: none !important;
    background-color: var(--navColor) !important;
}

 a:focus, a:hover, a:active {
    background-color: rgb(2, 38, 75) !important;
    transition-duration: 0.2s !important;
}

.center-block .glyphicon {
    background-color: transparent !important;
}

.navbar-brand {
    background-color: transparent !important;
}

.feiertag {
    background-color: var(--lessonColor) !important;
}

.keinunterr {
    background-color: var(--lessonColor) !important;
}

.form-control {
    color: var(--white) !important;
    background-color: var(--planColor) !important ;
    border: solid 2px var(--planColor) !important;
}

.std {
    fill: var(--lessonColor) !important;
}

.reg {
    fill: var(--lessonColor) !important;
}


td, th, i, p {
    color: var(--white) !important;
}

svg {
    background-color: var(--planColor) !important;
    border-radius: 2.5px !important;
}

h2, h3, h4 {
    color: var(--white) !important;
}

hr {
    border-color: var(--planColor) !important;
}

.regStd {
    fill: var(--hourOverlay) !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--planColor) !important;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-color: transparent !important; 
}

rect.vertretStd {
    fill: var(--hourChanged) !important;
}

.weekdayToday {
    fill: var(--weekdayToday) !important;
}

.passedDay{
    fill: gray !important;
}

rect.entfStd  {
    fill: var(--hourCanceled) !important;
}

.inhalt {
    fill: var(--white) !important;
}

.btn-primary {
    background-color: var(--lessonColor) !important;
    background-image: var(--lessonColor) !important;
    border-bottom: var(--lessonColor) !important;
    border-color: var(--lessonColor) !important;
}

.btn-default {
    background-image: none !important;
    background-color: var(--lessonColor) !important;
    color: var(--white) !important;
    border: 1px solid var(--planColor) !important;
}

.glyphicon-forward:before,
.glyphicon-backward:before {
    color: var(--white) !important;
}

div.form-group label {
    color: var(--white) !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: var(--backgroundColor) !important;
    border-color: var(--backgroundColor) !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: var(--backgroundColor) !important;
    border-color: var(--backgroundColor) !important;
}

.navbar-inverse {
    border-color: var(--backgroundColor) !important;
    border-bottom: var(--backgroundColor) !important;
}

#stdplanheading > *
{
        margin: 10px 10px 15px 0px !important;
}

#timer > *
{
        margin: 10px 10px 15px 0px !important;
}

.timerText {
    width: 90px;
    height: 37px;
    background-color: #434549;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    color: var(--white);
}

a.navbar-brand:hover,
a.navbar-brand:active,
a.navbar-brand:focus {
    background-color: transparent !important;
}

div.center-block span {
    border-radius: 3px !important;
}

table.table.table-striped { border-collapse: separate; }
td {
     border: solid 1px rgb(0, 0, 0); 
}

tr:first-child td:first-child { border-top-left-radius: 4px !important; }
tr:first-child td:last-child { border-top-right-radius: 4px !important; }
tr:last-child td:first-child { border-bottom-left-radius: 4px !important; }
tr:last-child td:last-child { border-bottom-right-radius: 4px !important; }

div.container.body-content table tbody tr td {
    border: none !important;
}

svg g text{
    transition-duration: 0.6s !important;
}